body {
    font-family: Roboto;
}

header {
    background-color: var(--background-color);
    height: 94px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu-main .header__logo_white {
    display: inline-block;
}

.menu-container {
    display: none;
    background: var(--pramary-color);
    width: 100%;
    justify-content: center;
}

.menu-main {
    max-width: 1280px;
    background: var(--pramary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;

}

.menu-main ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    margin-right: auto;
}

.menu-main ul li {
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    margin-right: 36px;
    font-weight: 500;
    line-height: 22px;
}

.menu-main ul li a {
    color: inherit;
    text-decoration: none;
}

.menu-main ul li:first-child a {
    color: inherit;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

.header__logo {
    margin-top: 25px;
}

.header__logo_white {
    display: block;
    opacity: 0;
}

.center-content {
    display: flex;
    justify-content: center;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.navbar-toggler-icon {
    font-size: 1.4em;
}

:root {
    --pramary-color: #2F3132;
    --overlay-color: #C4C4C4;
    --background-color: #E0E1E2;
    --menu-speed: 0.0s;
}

.menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--background-color);
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .menu {
    position: relative;
}

.menu-wrap .menu>a {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    z-index: 10;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--pramary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: inherit;
}

.menu-wrap .hamburger>div:after {
    top: 8px;
}

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked~.hamburger>div {
    background: white;
}

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .toggler:checked~.menu .header__logo_white {
    opacity: 1;
    transition: opacity var(--menu-speed) ease 0.0s;
}

/* Show menu end */

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--pramary-color);
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.0s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    ;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul {
    padding: 0;
    padding-top: 95px;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: var(--overlay-color);
    font-size: 20px;
    font-weight: 900;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li:nth-child(2)>a {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .menu-wrap .menu>a {
        position: absolute;
        top: 0;
        left: calc(50% - 120px);
        z-index: 10;
    }

    .menu-wrap .menu>div>div>ul>li {
        font-size: 40px;
    }
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: center;
}

.navbar-nav {
    transition: all 0.5s ease-out;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.text_margin {
    margin-left: 34px;
    margin-right: 32px;
}

.text_flow {
    margin-bottom: 16px;
    text-align: left;
    width: 224px;
}

.text_settings {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 11px;
}

.top {
    background: #E0E1E2;
    padding-bottom: 48px;
}

.top__img {
    /* margin-top: 94px; */
    height: 230px;
    background-image: url(/img/MX-Master-XL.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 67px;
}

.top__arrow {
    margin-top: 40px;
}

.top__svg {
    width: 42px;
    height: 22px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth__img {
    height: 288px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

#carouselExampleIndicators {
    margin-bottom: 27px;
}

.carausel-controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 330px;
    /* display: grid;
    grid-template-columns: repeat(7, 30px);
    column-gap: 23px;
    margin: 0 auto; */
}

.carausel-btn {
    width: 30px;
    height: 30px;
    border: none;
    /* margin: 0px 11px; */
    transition: all 0.5s ease-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.carausel-ctrl-prev {
    background: url(./img/arrow-left.png);
}

.carausel-ctrl-next {
    background: url(./img/arrow-right.png);
}

.carausel-ctrl {
    width: 9px;
    height: 18px;
    /* margin-left: 11px; */
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carausel-btn:hover {
    transform: scale(1.2);
}

.carausel-conrol-next {
    color: #2F3132;
}

.carousel-item .image-xl {
    display: none;
}

.texture-wood {
    background-image: url(./img/wood-texture.png);
}

.texture-glass {
    background-image: url(./img/glass-texture.png);
}

.texture-linolium {
    background-image: url(./img/linoleum-texture.png);
}

.texture-cloth {
    background-image: url(./img/cloth-texture.png);
}

.texture-marble {
    background-image: url(./img/marble-texture.png);
}

#settings-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.carousel-inner img {
    object-fit: contain;
}

.carousel-indicators {
    width: 165px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

#settings-slider button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-clip: unset;
    border: 0;
    background-color: #C4C4C4;
    opacity: 1;
    margin: 0;
}

#settings-slider button.active {
    background-color: #2F3132;
}

.info {
    padding-top: 70px;
    padding-bottom: 63px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.info__item-heading {
    margin-bottom: 5px;
}


.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: #EDEDED;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;
}

.settings__slider {
    margin: 35px 22px 98px 23px;
}

.settings__slider-img {
    display: none;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse__img_1 {
    background-image: url(img/image1.jpg);
}

.mouse__img_2 {
    background-image: url(img/image2.jpg);
}

.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}

@media (min-width: 768px) {
    header {
        height: 160px;
    }

    .top {
        padding-bottom: 80px;
    }

    .navbar {
        padding-top: 54px;
    }

    .top__img {
        /* margin-top: 159px; */
        height: 514px;
        margin-bottom: 124px;
        background-image: url(/img/MX-Master-XL.png);
    }

    .header__logo {
        width: 240px;
        /* margin-top: 54px; */
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .top__text-margin {
        margin-left: 154px;
        margin-right: 155px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__arrow {
        margin-top: 76px;
    }

    .top__svg {
        width: 61px;
        height: 33px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
    }

    .bluetooth__img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    #carouselExampleIndicators {
        margin-bottom: 50px;
    }

    .carausel-controls-container {
        width: 404px;
        margin: 0 auto 22px auto;
    }

    .carausel-btn {
        width: 40px;
        height: 40px;
    }

    .carausel-ctrl {
        width: 12px;
        height: 24px;
    }

    .carousel-indicators {
        width: 275px;
    }

    #settings-slider button {
        width: 25px;
        height: 25px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__item {
        min-height: 170px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 22px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0;
        margin-right: 0;
    }

    .flow__ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0;
    }

    .text_flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        font-size: 20px;
        line-height: 23px;
        border-left: 1px solid #494949;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }

    .settings__slider {
        margin: 54px 198px 150px 199px;
    }

    .settings__content {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__icons {
        margin-left: 98px;
        margin-right: 104px;
    }

    .settings__img {
        height: 35px;
    }

    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings {
        font-size: 20px;
        line-height: 23px;
    }

    .text_mouse {
        margin-left: 0;
        margin-right: 0;
    }

    .mouse__text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse__img {
        height: 549px;
    }

    .mouse__img_1 {
        background-image: url(img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.jpg);
    }

    .mouse__img_2 {
        background-image: url(img/image\ 2\ \(1\).jpg);
    }

    .footer {
        height: 150px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 47px;
    }
}

@media (min-width: 1024px) {

    #settings-slider {
        display: none;
    }

    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .menu-container {
        display: flex;
    }

    .menu-wrap {
        display: none;
    }

    .header__logo_dark {
        display: none;
    }

    .header__logo_white {
        display: block;
        width: 150px;
        opacity: 1;
        margin: 0 147px 0 61px;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .header {
        background: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: space-between;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 1px solid #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 0;
        border: none;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .top__img {
        /* margin-top: 20px; */
        background-image: url(/img/MX-Master-XL.png);
        height: 671px;
        padding-top: 40px;
        margin-bottom: 8px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth {
        padding-bottom: 80px;
    }

    .bluetooth__img {
        height: 427px;
        background: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px,
            url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 2.png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 74px;
    }

    .bluetooth__heading_day-mini {
        padding-top: 45px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .text_info {
        width: 765px;
        margin: auto;
    }

    .info__heading {
        font-size: 20px;
        line-height: 23px;
    }

    .flow {
        padding-bottom: 870px;
        background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow__ol {
        margin-left: 15px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings__slider {
        display: none;
    }

    .settings__slider-img {
        display: flex;
        justify-content: center;
        margin-top: 71px;
    }

    .text_settings-p {
        width: 958px;
        margin: auto;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse__item {
        height: 557px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse__text_1 {
        padding-right: 217px;
        order: 2;
    }

    .mouse__text_1 .heading {
        text-align: left;
    }

    .mouse__text_1 .text {
        text-align: left;
    }

    .mouse__text_2 {
        padding-left: 217px;
        order: 3;
    }

    .mouse__text_2 .heading {
        text-align: right;
    }

    .mouse__text_2 .text {
        text-align: right;
    }

    .mouse__img_1 {
        order: 1;
        background-image: url(img/image_1_desktop.png);
    }

    .mouse__img_2 {
        order: 4;
        background-image: url(img/image_2_desktop.png);
    }

    .carousel-item .image-xs {
        display: none;
    }

    .carousel-item .image-xl {
        display: block;
    }

}
